{{ $var := newScratch }}
{{ $var.Delete "tags" }}
{{ range .Pages }}
  {{ $var.Add "tags" (slice .Params.tagLine)}}
{{ end }}
{{ $tags := $var.Get "tags" | uniq }}

<div
  class="col-start-2 flex flex-col h-full items-start justify-center max-w-main md:self-center mx-auto overflow-hidden row-start-2 self-start w-full">
  <h1 class="max-w-main md:text-6xl m-0 text-3xl text-left leading-snug w-full">
    {{ .Title | safeHTML }}
  </h1>
  <ul class="flex flex-wrap items-center justify-start list-none m-0 p-0 w-full">
    <li class="flex items-center justify-center mr-2 my-2 p-0">
      <button
        type="button"
        class="tag-filter bg-background border-0 border-transparent cursor-pointer duration-200 ease-in-out flex focus:bg-primary focus:text-background hover:bg-primary hover:text-background items-center justify-center outline-none px-5 py-2 rounded-full text-primary transition-colors"
        data-active="true"
        data-tag="all"
      >
        All Posts
      </button>
    </li>
    {{ range $tags }}
    {{ $tag := . | lower | replaceRE "\\s" "-" }}

    <li class="flex items-center justify-center mr-2 my-2 p-0">
      <button
        type="button"
        class="tag-filter bg-background border-0 border-transparent cursor-pointer duration-200 ease-in-out flex focus:bg-primary focus:text-background hover:bg-primary hover:text-background items-center justify-center outline-none px-5 py-2 rounded-full text-primary transition-colors"
        data-active="false"
        data-tag="{{ $tag }}"
      >
        {{ . }}
      </button>
    </li>
    {{ end }}
  </ul>
</div>