<div id="study" class="grid items-start justify-start w-full">
  <aside class="col-start-2 flex flex-col items-start justify-start mb-9 md:m-0 md:pr-20 md:row-start-2 row-start-2 w-full">
    {{ with .Params.contributors }}
      {{ partial "contributors.html" (dict "data" . "desktopOnly" true) }}
    {{ end }}
    {{ with .Params.company }}
    <p class="font-bold mb-4 md:text-xl mt-2 text-foreground">Company</p>
    <ul class="border-0 border-b-2 border-selection border-solid flex flex-col items-start justify-start list-none m-0 pb-2 px-0 w-full">
      {{ range . }}
      <li class="flex flex-col items-start justify-start mb-4 mx-0 p-0 w-full">
        <p class="m-0 text-meta text-sm">{{ .heading }}</p>
        <p class="mx-0 my-1 text-foreground text-sm">{{ .copy }}</p>
      </li>
      {{ end }}
    </ul>
    {{ end }}
    {{ partial "toc.html" . }}
    {{ partial "share-sheet.html" (dict "data" .Site.Data.sharing.socials "permalink" .Permalink "desktopOnly" true) }}
  </aside>
  <div id="content" class="col-start-2 flex flex-col items-start justify-start md:col-start-3 md:pl-20 md:row-start-2 row-start-3 w-full">
    {{ .Content }}
    {{ with .Params.contributors }}
      {{ partial "contributors.html" (dict "data" . "mobileOnly" true) }}
    {{ end }}
    {{ partial "share-sheet.html" (dict "data" .Site.Data.sharing.socials "permalink" .Permalink "mobileOnly" true) }}
  </div>
</div>
{{ $imgBg := resources.Get "img/bg-wave-dark.svg" }}
<div
  id="cta"
  class="grid items-center justify-center w-full"
>
  {{ partial "cta-block.html" (dict "data" .Site.Data.ctas.readyToBook "classes" "col-start-2 row-start-2") }}
</div>
{{ with .Params.related }}
{{ end }}
<div
  id="related"
  class="grid items-center justify-center w-full"
  >
  <div class="col-start-2 flex flex-col items-start justify-start row-start-2 w-full">
    <h3 class="text-3xl">Related Articles</h3>
    {{ $section := .Site.GetPage "section" .Section }}
    <ul id="article-cards" class="auto-rows-min gap-4 grid justify-center m-0 md:gap-8 p-0 list-none w-full">
      {{ range last 3 $section.Pages.ByWeight.Reverse }}
        {{ $tagMargin := "absolute left-8 m-0 top-8" }}
        {{ $heroMargin := "mb-6" }}
        {{ $heroMax := "max-w-md mb-6" }}
        {{ $heroSize := 500 }}
        {{ $headingClasses := "mb-8 md:text-2xl" }}
        {{ $span := "col-span-1 flex flex-col shadow-card" }}

        {{ partial "main/card.html" (dict "span" $span "featured" false "image" .Params.image "title" .Title "heroMargin" $heroMargin "heroMax" $heroMax "heroSize" $heroSize "logo" .Params.logo "tagLine" .Params.tagLine "tagMargin" $tagMargin "date" .Params.date "headingClasses" $headingClasses "subtitle" .Params.subtitle "description" .Params.description "permalink" .Permalink "related" true) }}
      {{ end }}
    </ul>
  </div>
</div>