<div id="studies" class="grid items-center justify-center w-full">
  <ul id="article-cards" class="auto-rows-min col-start-2 gap-4 grid justify-center m-0 md:gap-8 p-0 list-none row-start-2 w-full">
    {{ range .Pages.ByWeight.Reverse }}
      {{ $featured := gt .Params.weight 99 }}
      {{ $heroMargin := cond ($featured) "mb-6 md:mb-0 md:mr-10" "mb-6" }}
      {{ $heroMax := cond ($featured) "max-w-3xl" "max-w-md mb-6" }}
      {{ $heroSize := cond ($featured) 700 500 }}
      {{ $headingClasses := print "max-w-lg md:text-4xl " (cond ($featured) "mb-4" "mb-8") }}
      {{ $span := cond ($featured) "col-span-1 flex flex-col md:col-span-3 md:flex-row pb-4" "col-span-1 flex flex-col pb-7" }}

      {{ partial "main/card.html" (dict "span" $span "featured" $featured "image" .Params.image "title" .Title "heroMargin" $heroMargin "heroMax" $heroMax "heroSize" $heroSize "logo" .Params.logo "headingClasses" $headingClasses "subtitle" .Params.subtitle "description" .Params.description "permalink" .Permalink) }}
    {{ end }}
  </ul>
</div>
{{ partial "testimonies.html" (dict "data" .Params.testimonies) }}
