{{ define "hero" }}
  {{ if ne .Params.layout nil }}
    {{ if eq .Params.layout "alt" }}
      {{ partial "hero-single-alt.html" . }}
    {{ else if eq .Params.layout "blog-feed" }}
      {{ partial "hero-blog-feed.html" . }}
    {{ else if eq .Params.layout "legal" }}
      {{ partial "hero-legal.html" . }}
    {{ else }}
    {{ end }}
  {{ else }}
    {{ partial "hero-single.html" . }}
  {{ end }}
{{ end }}
{{ define "main" }}
{{ end }}
{{ define "styles" }}
  <style>
    body {
      --hero-bg-position: 62vw center;
    }

    @media screen and (max-width: 768px) {
      body {
        --hero-bg-size: 125vw;
        --hero-bg-position: center bottom;
      }
    }
  </style>
{{ end }}