{{ define "hero" }}
  {{ if ne .Params.layout nil }}
    {{ if eq .Params.layout "alt" }}
      {{ partial "hero/alt.html" . }}
    {{ else if eq .Params.layout "blog-feed" }}
      {{ partial "hero/blog-feed.html" . }}
    {{ else if eq .Params.layout "legal" }}
      {{ partial "hero/legal.html" . }}
    {{ else if eq .Params.layout "login" }}
      {{ partial "hero/login.html" . }}
    {{ else }}
      {{ partial "hero/default.html" . }}
    {{ end }}
  {{ else if ne .Parent.RelPermalink "/" }}
    {{ partial "hero/child.html" . }}
  {{ else }}
    {{ partial "hero/default.html" . }}
  {{ end }}
{{ end }}
{{ define "main" }}
  {{ if ne .Params.layout nil }}
    {{ if eq .Params.layout "alt" }}
    {{ else if eq .Params.layout "blog-feed" }}
      {{ partial "main/blog-feed.html" . }}
    {{ else if eq .Params.layout "case-studies" }}
      {{ partial "main/case-studies.html" . }}
    {{ else if eq .Params.layout "contact" }}
      {{ partial "main/contact.html" . }}
    {{ else if eq .Params.layout "legal" }}
      {{ partial "main/legal.html" . }}
    {{ else if eq .Params.layout "login" }}
    {{ else }}
    {{ end }}
  {{ else if ne .Parent.RelPermalink "/" }}
  {{ else }}
  {{ end }}
{{ end }}
{{ define "styles" }}
  {{ if eq .Params.layout "case-studies" }}
    {{ $glide := resources.Get "css/glide.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $glide.Permalink }}" />
  {{ end }}
{{ end }}
{{ define "scripts" }}
  {{ $opts := dict "minified" true "compact" true }}

  {{ if eq .Params.layout "case-studies" }}
    {{ $glide := resources.Get "scripts/glide.js" | resources.Minify }}
    <script src="{{ $glide.Permalink }}"></script>
  {{ else if eq .Params.layout "blog-feed" }}
    {{- $filterTS := resources.Get "scripts/blog-filter.ts" | babel -}}
    {{ $filterJS := slice $filterTS | resources.Concat "blog-filter.js" }}
    {{ $filter := $filterJS | resources.Minify }}
    <script src="{{ $filter.Permalink }}"></script>
  {{ else }}
  {{ end }}
{{ end }}