{{ define "hero" }}
  {{ if ne .Params.layout nil }}
    {{ if eq .Params.layout "about" }}
      {{ partial "hero/default.html" . }}
    {{ else if eq .Params.layout "alt" }}
      {{ partial "hero/alt.html" . }}
    {{ else if eq .Params.layout "blog-feed" }}
      {{ partial "hero/blog-feed.html" . }}
    {{ else if eq .Params.layout "article" }}
      {{ partial "hero/article.html" . }}
    {{ else if eq .Params.layout "home" }}
      {{ partial "hero/default.html" . }}
    {{ else if eq .Params.layout "jobs" }}
      {{ partial "hero/default.html" . }}
    {{ else if eq .Params.layout "legal" }}
      {{ partial "hero/legal.html" . }}
    {{ else if eq .Params.layout "login" }}
      {{ partial "hero/login.html" . }}
    {{ else if eq .Params.layout "pricing" }}
      {{ partial "hero/alt.html" . }}
    {{ else }}
      {{ partial "hero/default.html" . }}
    {{ end }}
  {{ else if ne .Parent.RelPermalink "/" }}
    {{ partial "hero/child.html" . }}
  {{ else }}
    {{ partial "hero/default.html" . }}
  {{ end }}
{{ end }}
{{ define "main" }}
  {{ if ne .Params.layout nil }}
    {{ if eq .Params.layout "about" }}
      {{ partial "main/about.html" . }}
    {{ else if eq .Params.layout "alt" }}
    {{ else if eq .Params.layout "article" }}
      {{ partial "main/article.html" . }}
    {{ else if eq .Params.layout "contact" }}
      {{ partial "main/contact.html" . }}
    {{ else if eq .Params.layout "finance-manager" }}
      {{ partial "main/finance-manager.html" . }}
    {{ else if eq .Params.layout "home" }}
      {{ partial "main/home.html" . }}
    {{ else if eq .Params.layout "jobs" }}
      {{ partial "main/jobs.html" . }}
    {{ else if eq .Params.layout "legal" }}
      {{ partial "main/legal.html" . }}
    {{ else if eq .Params.layout "pricing" }}
      {{ partial "main/pricing.html" . }}
    {{ else if eq .Params.layout "traveller" }}
      {{ partial "main/traveller.html" . }}
    {{ else if eq .Params.layout "travel-manager" }}
      {{ partial "main/travel-manager.html" . }}
    {{ else }}
    {{ end }}
  {{ else if ne .Parent.RelPermalink "/" }}
  {{ else }}
  {{ end }}
{{ end }}
{{ define "scripts" }}
  {{ $opts := dict "minified" true "compact" true }}
  {{ $glide := resources.Get "scripts/glide.js" | resources.Minify }}

  {{ if eq .Params.layout "article" }}
    {{- $tocTS := resources.Get "scripts/toc.ts" | babel -}}
    {{ $tocJS := slice $tocTS | resources.Concat "toc.js" }}
    {{ $toc := $tocJS | resources.Minify }}
    <script src="{{ $toc.Permalink }}"></script>
  {{ end }}
  {{ if eq .Section "solutions" }}
    {{- $faqTS := resources.Get "scripts/faq.ts" | babel -}}
    {{ $faqJS := slice $faqTS | resources.Concat "faq.js" }}
    {{ $faq := $faqJS | resources.Minify }}
    <script src="{{ $faq.Permalink }}"></script>
  {{ end }}
  {{ if .Params.glide }}
    <script src="{{ $glide.Permalink }}"></script>
    <script>
      new Glide('.glide').mount();
    </script>
  {{ end }}
  {{ if .Params.glideCards }}
    {{ if eq .Params.glide nil }}
      <script src="{{ $glide.Permalink }}"></script>
    {{ end }}
    <script>
      new Glide('.glideCards', {
        type: 'slider',
        startAt: 0,
        perView: 3,
        gap: 32,
        breakpoints: {
          768: {
            perView: 1,
          },
        },
      }).mount();
    </script>
  {{ end }}
{{ end }}