:root {
  /* colors */
  --background: #ffffff;
  --background-light: #f5f6f8;
  --foreground: #0c1c3e;
  --footer: #071533;
  --meta: #718096;
  --primary: #dd4124;
  --primary-transparent: rgba(221, 65, 36, 0.07);
  --selection: #e2e8f0;
  /* values */
  --header-height: 5.5rem;
  --hero-bg-position: -10vw center;
  --hero-bg-size: 33.25rem;
  --hero-cta: 13rem;
  --hero-stat-width: 1fr;
  --hero-stat-height: 7rem;
  --client-size: 13.5rem;
  --main-padding: 4.625rem;
  --bottom-padding: var(--main-padding);
  --main-width: 1300px;
  --legal-width: 860px;
  --footer-height: 32rem;
  --footer-gap: 5.625rem;
  /* animations */
  --transition: cubic-bezier(0.155, 0.64, 0.24, 1);
}

@media screen and (max-width: 768px) {
  :root {
    --header-height: 6.25rem;
    --hero-bg-size: 11rem;
    --hero-cta: 20rem;
    --hero-stat-width: 5.9375rem;
    --hero-stat-height: 5.375rem;
    --client-size: 9.375rem;
    --main-padding: 2.125rem;
    --bottom-padding: var(--main-padding);
    --footer-height: 42.5rem;
    --footer-gap: 3.75rem;
  }
}

::-moz-selection {
  background-color: var(--selection);
}

::selection {
  background-color: var(--selection);
}

*:focus {
  outline-color: var(--primary);
}

html,
body {
  background-color: var(--background);
}

html {
  box-sizing: border-box;
  font-feature-settings: 'liga' 1;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--background-light);
  color: var(--foreground);
  font-family: Manrope, sans-serif;
  overflow-x: hidden;
  position: relative;
}

code,
kbd,
pre,
samp {
  font-family: monospace !important;
}

header,
main,
footer,
section#hero,
section#footer-base {
  grid-template-columns: minmax(1.25rem, 1fr) minmax(335px, var(--main-width)) minmax(
      1.25rem,
      1fr
    );
}

header {
  grid-template-rows: 1.25rem 3rem 1.25rem;
}

main {
  grid-template-rows: 0 min-content auto var(--main-padding);
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

main > h1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

section#hero {
  grid-template-rows: var(--main-padding) repeat(2, min-content) var(
      --bottom-padding
    );
}

footer {
  grid-template-rows: var(--footer-gap) min-content var(--footer-gap) min-content;
}
