:root {
  /* colors */
  --background: #ffffff;
  --foreground: #0c1c3e;
  --footer: #071533;
  --meta: #718096;
  --primary: #dd4124;
  --primary-transparent: rgba(221, 65, 36, 0.07);
  --selection: #e2e8f0;
  /* values */
  --header-height: 5rem;
  --footer-height: 32rem;
  --transition: cubic-bezier(0.155, 0.64, 0.24, 1);
}

::-moz-selection {
  background-color: var(--selection);
}

::selection {
  background-color: var(--selection);
}

*:focus {
  outline-color: var(--primary);
}

html,
body {
  background-color: var(--background);
}

html {
  box-sizing: border-box;
  font-feature-settings: 'liga' 1;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Manrope, sans-serif;
  overflow-x: hidden;
  position: relative;
}

code,
kbd,
pre,
samp {
  font-family: monospace !important;
}

main,
footer {
  grid-template-columns: minmax(1rem, 1fr) minmax(18rem, 100rem) minmax(
      1rem,
      1fr
    );
}

header {
  gap: 0.5rem 0;
  grid-template-columns: 1rem auto 1rem;
  grid-template-rows: 0.5rem repeat(2, min-content) 0rem;
}

main {
  grid-template-rows: min-content auto 0.5rem;
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

main > h1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

@media screen and (max-width: 768px) {
  :root {
    --header-height: 6.25rem;
    --footer-height: 42.5rem;
  }
}

footer {
  grid-template-rows: minmax(1rem, 1fr) min-content minmax(1rem, 1fr);
}
