@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Custom */
body[data-layout='contact'] main {
  --hero-height: 33.5rem;
  --bottom-padding: 0;
  --main-padding: 0;
}

body[data-layout='contact'] footer,
body[data-layout='login'] footer {
  margin-top: 0;
}

section#hero {
  --blog-height: 13.125rem;
  --legal-height: 17.5rem;

  min-height: var(--hero-height);
}

section#hero[data-layout='alt'],
section#hero[data-layout='child'],
section#hero[data-layout='legal'] {
  background-color: var(--foreground);
}

section#hero[data-layout='blog-feed'],
section#hero[data-layout='login'] {
  grid-row-start: 1;
}

section#hero[data-layout='login'] {
  --hero-height: 40.3125rem;
  grid-row: span 4 / span 4;
}

section#hero[data-layout='login'] h1 {
  min-height: auto;
}

section#hero[data-layout='alt'] {
  --bottom-padding: 14.75rem;
}

section#hero[data-layout='blog-feed'] {
  background-color: var(--background-light);
  min-height: var(--blog-height);
}

section#hero[data-layout='legal'] {
  min-height: var(--legal-height);
}

section#hero h1 {
  line-height: 1.375 !important;
  min-height: calc(3.75rem * 1.7);
}

@media screen and (max-width: 768px) {
  section#hero {
    --blog-height: 6.75rem;
    --legal-height: 10rem;
  }

  section#hero[data-layout='alt'] {
    --bottom-padding: 15.1875rem;
  }

  section#hero h1 {
    min-height: auto;
  }
}

ul#hero-stats {
  align-items: start;
  grid-template-columns: repeat(3, var(--hero-stat-width));
  grid-template-rows: var(--hero-stat-height);
}

ul#hero-stats li:nth-of-type(1) {
  border: none;
  padding: 0;
}

nav#hero-nav {
  grid-template-columns: repeat(auto-fill, minmax(10rem, var(--hero-cta)));
  max-width: calc((var(--hero-cta) * 2) + 0.75rem);
}

ul#clients {
  --col-size: calc(var(--client-size) * var(--client-length));

  min-width: var(--col-size);
}

ul#clients[data-type='single'] picture {
  justify-content: flex-start;
}

section#main[data-layout='legal'] {
  margin: 0 auto;
  max-width: var(--legal-width);
  padding-top: 2.6875rem;
}

section#main[data-layout='legal'] p {
  color: var(--meta);
}

div#info ul {
  gap: 1rem 3rem;
  grid-template-columns: repeat(auto-fill, minmax(19.0625rem, 39.125rem));
}

div#info li {
  max-height: 22.25rem;
}

div#info a {
  color: var(--primary);
}

article ol,
article ul {
  padding-left: 1rem;
}

section.footnotes a,
sup a {
  text-decoration: none !important;
}

p[data-heading="true"] span {
  color: var(--primary);
}

a.footnote-ref {
  padding: 0 0.15rem;
  text-decoration: none;
}

a.footnote-ref::before {
  color: var(--secondary);
  content: '[';
}

a.footnote-ref::after {
  color: var(--secondary);
  content: ']';
}

a.footnote-ref:focus::before,
a.footnote-ref:focus::after,
a.footnote-ref:hover::before,
a.footnote-ref:hover::after {
  color: var(--primary);
}

div.img-wrap[data-diagram='true'] img {
  max-width: 25rem;
  margin: auto;
}

div.highlight,
div.mermaid {
  margin: 0 0 0.75rem;
}

div.highlight pre,
div.mermaid {
  overflow-x: auto;
  padding: 0.75rem;
}

div.highlight pre,
p code,
li code {
  background-color: var(--foreground) !important;
}

p code,
li code {
  font-size: 0.95rem;
  padding: 0.25rem;
}

div.goat {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  max-width: 60rem;
  overflow: hidden;
  width: 100%;
}

div.goat svg {
  height: auto;
  margin: auto;
  max-width: 18rem;
  object-fit: contain;
  object-position: left bottom;
  width: 100%;
}

/* Link Interactivity */
a[rel='noopener noreferrer']:focus,
a[rel='noopener noreferrer']:hover,
a.footnote-ref:focus::before,
a.footnote-ref:focus::after,
a.footnote-ref:hover::before,
a.footnote-ref:hover::after,
a.footnote-backref:focus,
a.footnote-backref:focus-visible,
a.footnote-backref:hover {
  color: var(--foreground);
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  border-color: var(--meta);
}

a:focus,
a:hover,
a[rel='noopener noreferrer']:focus,
a[rel='noopener noreferrer']:hover,
a.tags:focus span,
a.tags:focus-visible span {
  text-decoration-color: var(--primary);
}

a.footnote-backref:focus,
a.footnote-backref:focus-visible,
a.footnote-backref:hover,
a.footnote-backref {
  text-decoration: none !important;
}
