@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Custom */
body[data-layout='contact'] main {
  --hero-height: 33.5rem;
  --bottom-padding: 0;
  --main-padding: 0;
}

body[data-layout='case-studies'] footer,
body[data-layout='contact'] footer,
body[data-layout='login'] footer {
  margin-top: 0;
}

section#hero {
  --blog-height: 13.125rem;
  --legal-height: 17.5rem;

  min-height: var(--hero-height);
}

section#hero[data-layout='alt'],
section#hero[data-layout='case-study'],
section#hero[data-layout='child'],
section#hero[data-layout='legal'] {
  background-color: var(--foreground);
}

section#hero[data-layout='blog-feed'],
section#hero[data-layout='login'] {
  grid-row-start: 1;
}

section#hero[data-layout='login'] {
  --hero-height: 40.3125rem;
  grid-row: span 4 / span 4;
}

section#hero[data-layout='login'] h1 {
  min-height: auto;
}

section#hero[data-layout='alt'] {
  --bottom-padding: 14.75rem;
}

section#hero[data-layout='blog-feed'] {
  background-color: var(--background-light);
  min-height: var(--blog-height);
}

section#hero[data-layout='legal'] {
  min-height: var(--legal-height);
}

section#hero h1 {
  line-height: 1.375 !important;
  min-height: calc(3.75rem * 1.7);
}

@media screen and (max-width: 768px) {
  section#hero {
    --blog-height: 6.75rem;
    --legal-height: 10rem;
  }

  section#hero[data-layout='alt'] {
    --bottom-padding: 15.1875rem;
  }

  section#hero h1 {
    min-height: auto;
  }
}

ul#hero-stats {
  align-items: start;
  grid-template-columns: repeat(3, var(--hero-stat-width));
  grid-template-rows: var(--hero-stat-height);
}

ul#hero-stats li:nth-of-type(1) {
  border: none;
  padding: 0;
}

nav#hero-nav {
  grid-template-columns: repeat(auto-fill, minmax(10rem, var(--hero-cta)));
  max-width: calc((var(--hero-cta) * 2) + 0.75rem);
}

ul#clients {
  --col-size: calc(var(--client-size) * var(--client-length));

  min-width: var(--col-size);
}

ul#clients[data-type='single'] picture {
  justify-content: flex-start;
}

section#main[data-layout='legal'] {
  margin: 0 auto;
  max-width: var(--legal-width);
  padding-top: 2.6875rem;
}

section#main[data-layout='case-study'] {
  background-color: var(--background);
}

section#main[data-layout='legal'] p {
  color: var(--meta);
}

section#main[data-layout='case-studies'] {
  grid-row: span 2 / span 2;
}

div#info ul {
  gap: 1rem 3rem;
  grid-template-columns: repeat(auto-fill, minmax(19.0625rem, 39.125rem));
}

div#info li {
  max-height: 22.25rem;
}

div#info a {
  color: var(--primary);
}

article ol,
article ul {
  padding-left: 1rem;
}

section.footnotes a,
sup a {
  text-decoration: none !important;
}

div#studies {
  --content-padding: 4rem;
  --content-gap: 3;
}

div#studies ul {
  grid-template-columns: repeat(var(--content-gap), minmax(10rem, 25.5rem));
}

@media screen and (max-width: 768px) {
  div#studies {
    --content-padding: 2rem;
    --content-gap: 1;
  }
}

div#studies ul li {
  border-radius: 2.625rem;
}

div#studies ul li picture#study-hero,
div#studies ul li picture#study-hero img {
  /* height: var(--study-height); */
  min-height: var(--study-height);
}

div#studies ul li picture#study-hero {
  border-radius: 1.875rem;
}

div#studies ul li picture#study-hero img {
  margin: 0;
  object-fit: cover;
  transform: scale(1.15);
}

div#studies ul li[data-long='false'] {
  /* min-width: 20.9375rem; */
  max-width: 26rem;
}

div#studies ul li[data-long='true'] picture#study-logo img {
  height: 3rem;
}

@media screen and (max-width: 768px) {
  div#studies ul li[data-long='true'] picture#study-logo img {
    height: 1.75rem;
  }
}

div#studies ul li picture#study-logo img {
  height: 1.75rem;
}

div#studies ul li[data-long='true'] picture#study-hero,
div#studies ul li[data-long='true'] picture#study-hero img {
  /* height: var(--study-height-long); */
  min-height: var(--study-height-long);
  max-width: 39rem;
}

div#study {
  color: var(--meta);
}

@media screen and (max-width: 768px) {
  div#study {
    grid-template-rows: var(--content-padding) repeat(2, min-content) var(
        --content-padding
      ) !important;
  }
}

@media screen and (min-width: 768px) {
  div#study {
    grid-template-columns: minmax(1.25rem, 1fr) 368px minmax(335px, 944px) minmax(
        1.25rem,
        1fr
      ) !important;
  }
}

div#content > h2:nth-of-type(1) {
  margin-top: 0;
}

div#content figure,
div#content picture,
div#content img {
  max-width: 54rem;
}

div#content ul {
  padding-left: 1rem;
}

div#content ul > li > p {
  margin: 0;
}

div#content ul > li ul {
  list-style: none;
  padding: 0;
}

div#content ul > li ul > li {
  padding: 0;
}

nav#TableOfContents,
nav#TableOfContents * {
  width: 100%;
}

nav#TableOfContents {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

nav#TableOfContents ul,
nav#TableOfContents li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav#TableOfContents ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 0.5rem 0;
}

nav#TableOfContents li,
nav#TableOfContents li a {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

nav#TableOfContents li {
  height: 3.125rem;
}

nav#TableOfContents a,
nav#TableOfContents a svg {
  transition: all 200ms var(--transition);
}

nav#TableOfContents a {
  border-radius: 0.75rem;
  padding: 0.875rem 1.125rem;
  text-decoration: none;
}

nav#TableOfContents a:focus,
nav#TableOfContents a:hover {
  background-color: var(--selection);
}

nav#TableOfContents li[data-active='true'] a,
nav#TableOfContents li[data-active='true'] a {
  color: var(--background);
  background-color: var(--primary);
}

nav#TableOfContents li[data-active='true'] a svg,
nav#TableOfContents li[data-active='true'] a svg {
  stroke: var(--background);
}

div#toc-wrap nav#TableOfContents a svg {
  height: 1.25rem;
  margin-right: 1rem;
  width: auto;
}

div#toc-wrap nav#TableOfContents a::before {
  height: 1.25rem;
  margin-right: 1rem;
  width: auto;
}

div#study div#toc-wrap nav#TableOfContents a[href='#the-client']::before {
  content: url('/img/the_client-icon.svg');
}

div#study
  div#toc-wrap
  nav#TableOfContents
  li[data-active='true']
  a[href='#the-client']::before {
  content: url('/img/the_client-icon-light.svg');
}

div#study div#toc-wrap nav#TableOfContents a[href='#the-challenge']::before {
  content: url('/img/the_challenge-icon.svg');
}

div#study
  div#toc-wrap
  nav#TableOfContents
  li[data-active='true']
  a[href='#the-challenge']::before {
  content: url('/img/the_challenge-icon-light.svg');
}

div#study div#toc-wrap nav#TableOfContents a[href='#the-solution']::before {
  content: url('/img/the_solution-icon.svg');
}

div#study
  div#toc-wrap
  nav#TableOfContents
  li[data-active='true']
  a[href='#the-solution']::before {
  content: url('/img/the_solution-icon-light.svg');
}

div#study div#toc-wrap nav#TableOfContents a[href='#the-outcome']::before {
  content: url('/img/the_outcome-icon.svg');
}

div#study
  div#toc-wrap
  nav#TableOfContents
  li[data-active='true']
  a[href='#the-outcome']::before {
  content: url('/img/the_outcome-icon-light.svg');
}

button#toc-toggle[data-active='true'] {
  border-color: var(--selection);
}

button#toc-toggle[data-active='true'] img {
  transform: scaleY(-1);
}

div#toc-wrap-mobile {
  height: 3.125rem;
  transition-property: height;
}

div#toc-wrap-mobile[data-active='true'] {
  height: calc(var(--count) * 3.125rem);
}

div#toc-wrap-mobile nav#TableOfContents {
  opacity: 0;
  transition: all 200ms var(--transition);
  transform: translateY(-100%);
  transform-origin: top;
  z-index: -1;
}

div#toc-wrap-mobile nav#TableOfContents[data-active='true'] {
  opacity: 1;
  transform: translateY(0);
  z-index: 5;
}

div#toc-wrap-mobile nav#TableOfContents ul {
  gap: 0;
}

div#toc-wrap-mobile nav#TableOfContents a {
  padding: 0.75rem 1rem;
}

a[data-clip='true']::before {
  color: var(--primary);
  content: 'Copied!';
  font-size: 0.65rem;
  opacity: 0;
  position: absolute;
  top: -2.25rem;
  transform: translateY(200%);
  transform-origin: bottom;
  transition: all 200ms var(--transition);
  z-index: -1;
}

a[data-clip='true'][data-copied='true']::before {
  opacity: 1;
  transform: translateY(100%);
  z-index: 10;
}

div#cta-block p {
  line-height: 1.25;
}

div#cta-block p span {
  color: var(--primary);
}

div#cta-block picture#cta-img,
div#cta-block img#cta-img {
  margin-bottom: -4rem;
}

@media screen and (max-width: 768px) {
  div#cta-block picture#cta-img,
  div#cta-block img#cta-img {
    margin-bottom: -3rem;
  }
}

p[data-heading='true'] span {
  color: var(--primary);
}

a.footnote-ref {
  padding: 0 0.15rem;
  text-decoration: none;
}

a.footnote-ref::before {
  color: var(--secondary);
  content: '[';
}

a.footnote-ref::after {
  color: var(--secondary);
  content: ']';
}

a.footnote-ref:focus::before,
a.footnote-ref:focus::after,
a.footnote-ref:hover::before,
a.footnote-ref:hover::after {
  color: var(--primary);
}

div.img-wrap[data-diagram='true'] img {
  max-width: 25rem;
  margin: auto;
}

div.highlight,
div.mermaid {
  margin: 0 0 0.75rem;
}

div.highlight pre,
div.mermaid {
  overflow-x: auto;
  padding: 0.75rem;
}

div.highlight pre,
p code,
li code {
  background-color: var(--foreground) !important;
}

p code,
li code {
  font-size: 0.95rem;
  padding: 0.25rem;
}

div.goat {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  max-width: 60rem;
  overflow: hidden;
  width: 100%;
}

div.goat svg {
  height: auto;
  margin: auto;
  max-width: 18rem;
  object-fit: contain;
  object-position: left bottom;
  width: 100%;
}

/* Link Interactivity */
a[rel='noopener noreferrer']:focus,
a[rel='noopener noreferrer']:hover,
a.footnote-ref:focus::before,
a.footnote-ref:focus::after,
a.footnote-ref:hover::before,
a.footnote-ref:hover::after,
a.footnote-backref:focus,
a.footnote-backref:focus-visible,
a.footnote-backref:hover {
  color: var(--foreground);
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  border-color: var(--meta);
}

a:focus,
a:hover,
a[rel='noopener noreferrer']:focus,
a[rel='noopener noreferrer']:hover,
a.tags:focus span,
a.tags:focus-visible span {
  text-decoration-color: var(--primary);
}

a.footnote-backref:focus,
a.footnote-backref:focus-visible,
a.footnote-backref:hover,
a.footnote-backref {
  text-decoration: none !important;
}
