{{ $inlined := cond (eq .mobileOnly true) "border-t-2 flex md:hidden" (cond (eq .desktopOnly true) "border-b-2 hidden md:flex" "border-b-2 flex") }}

<div class="border-0 border-selection border-solid {{ $inlined }} flex-col items-start justify-start w-full">
  <p class="mb-4 md:text-xl md:mt-2 mt-8 text-foreground">Contributors</p>
  <ul class="flex flex-col items-start justify-start list-none m-0 p-0 w-full">
    {{ range .data }}
    <li class="flex items-center justify-start mb-8 p-0 w-full">
      {{ partial "img.html" (dict "src" .img "alt" .name "pClasses" "h-auto mr-6 my-0 w-auto" "iClasses" "h-10 w-10" "size" 100 "hidden" true) }}
      <div class="flex flex-col items-start justify-start">
        <p class="m-0 md:font-bold text-foreground">{{ .name }}</p>
        <p class="m-0 text-meta text-sm">{{ .role }}</p>
      </div>
    </li>
    {{ end }}
  </ul>
</div>