<div id="faq" class="grid items-center justify-center w-full">
  <div class="col-start-2 flex flex-col items-start justify-start md:flex-row overflow-hidden row-start-2 w-full">
    <div class="flex flex-col items-start justify-start max-w-md mb-6 mr-auto pr-6 w-full">
      <h2 class="font-normal mb-4 md:text-5xl mx-0 p-0 text-3xl"><b>Frequently Asked</b> Questions</h2>
      <p class="m-0 text-meta">Do you have more questions?</p>
      <a class="bg-primary-transparent duration-200 ease-in-out focus:no-underline focus:shadow-lg font-semibold hover:no-underline hover:shadow-lg leading-snug max-w-xs md:w-auto min-w-xxxxs mt-10 no-underline orange-link px-9 py-4 rounded-xl text-center transition-shadow w-full whitespace-nowrap z-20"
        href='{{ "contact" | absURL }}'>
        Contact Us
      </a>
    </div>
    <ul class="flex flex-col items-start justify-start list-none m-0 p-0 w-full">
      {{ range .Site.Data.faq.items }}
      <li
        class="border-0 border-b border-selection border-solid flex flex-col items-start justify-start m-0 overflow-hidden p-0 w-full"
      >
        <button
          type="button"
          class="faq-question bg-background-light border-0 cursor-pointer flex h-full items-start justify-between m-0 outline-none px-0 py-6 w-full z-5"
        >
          <p class="font-medium mr-auto my-0 md:text-2xl text-left">{{ .question }}</p>
          <div
            class="icon-wrap bg-primary-transparent duration-200 ease-in-out flex h-6 items-center justify-center md:h-10 md:w-10 rounded-full transition-colors w-6"
            data-active="false"
          >
            {{ partial "img.html" (dict "src" "plus.svg" "alt" "" "iClasses" "plus block h-4 md:h-6 md:w-6 w-4" "size" 800 "hidden" true) }}
            {{ partial "img.html" (dict "src" "minus-light.svg" "alt" "" "iClasses" "minus h-4 hidden md:h-6 md:w-6 w-4" "size" 800 "hidden" true) }}
          </div>
        </button>
        <p class="faq-answer duration-200 ease-in-out font-medium m-0 py-4 text-meta w-full" data-active="false">
          {{ .answer }}
        </p>
      </li>
      {{ end }}
    </ul>
  </div>
</div>