{{ $navClasses := cond (.mobile) "grid" "hidden lg:grid" }}
{{ $liClasses := cond (.mobile) "col-start-1" "row-start-1" }}
{{ $aClasses := cond (.mobile) "col-start-1" "row-start-1" }}

<nav class="{{ $navClasses }} items-center lg:justify-center lg:ml-9 lg:w-auto w-full">
  <ul class="auto-rows-min grid grid-cols-1 items-center justify-start list-none lg:auto-cols-min lg:grid-rows-1 lg:gap-2 lg:justify-center lg:w-auto m-0 px-0 w-full">
    {{ range .data.nav }}
    <li class="flex flex-col items-start justify-center lg:flex-row lg:items-center lg:overflow-visible lg:w-auto m-0 p-0 {{ $liClasses }} relative w-full">
      {{ if .parent }}
        <button
          type="button"
          id="{{ .link }}-parent"
          class="border-0 border-b border-selection border-solid bg-transparent cursor-pointer duration-200 ease-in-out flex font-medium items-center justify-between lg:justify-center lg:border-b-0 lg:border-transparent lg:focus:bg-selection lg:focus:no-underline lg:hover:bg-selection lg:hover:no-underline lg:px-4 lg:rounded-xl lg:w-auto no-underline outline-none px-0 py-3 text-center text-base transition-colors whitespace-nowrap w-full"
          data-active="false"
        >
          {{ .label }}
          {{ partial "img.html" (dict "src" "arrow-down.svg" "alt" "Open sub menu" "iClasses" "duration-200 ease-in-out mx-2 my-0 transition-transform" "hidden" true) }}
        </button>
        <ul
          id="{{ .link }}-sub"
          class="auto-rows-min duration-200 ease-in-out grid grid-cols-1 h-0 items-center justify-start lg:absolute lg:bg-white lg:gap-2 lg:left-0 lg:overflow-hidden lg:top-14 lg:rounded-xl list-none m-0 opacity-0 px-0 shadow-lg transition-all w-full z-100"
          data-type="sub-menu"
          data-active="false"
          aria-hidden="true"
        >
          {{ range .children }}
            <li class="col-start-1 flex items-center justify-start m-0 p-0 w-full">
              <a
                href="{{ .link | absURL }}"
                class="border-0 border-b border-selection border-solid duration-200 ease-in-out flex font-medium items-center justify-between lg:justify-start lg:border-b-0 lg:border-transparent lg:focus:bg-selection lg:focus:no-underline lg:hover:bg-selection lg:hover:no-underline px-4 lg:rounded-xl lg:text-left no-underline py-3 text-center text-base transition-colors whitespace-nowrap w-full"
              >
                {{ .label }}
              </a>
            </li>
          {{ end }}
        </ul>
      {{ else }}
        <a
          href="{{ .link | absURL }}"
          class="border-0 border-b border-selection border-solid duration-200 ease-in-out flex font-medium items-center justify-between lg:justify-center lg:border-b-0 lg:border-transparent lg:focus:bg-selection lg:focus:no-underline lg:hover:bg-selection lg:hover:no-underline lg:px-4 lg:rounded-xl lg:w-auto no-underline py-3 text-center text-base transition-colors whitespace-nowrap w-full"
        >
          {{ .label }}
        </a>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</nav>
<nav class="{{ $navClasses }} auto-rows-min gap-3 grid-cols-1 items-center justify-center lg:auto-cols-min lg:gap-2 lg:grid-rows-1 lg:w-auto ml-auto w-full">
  <a
    href='{{ .data.ctaNav.login.link | absURL }}'
    class="{{ $aClasses }} duration-200 ease-in-out focus:bg-selection focus:no-underline font-medium hover:bg-selection hover:no-underline lg:w-auto no-underline px-4 py-3 rounded-xl text-center text-base whitespace-nowrap w-full"
  >
    {{ .data.ctaNav.login.label }}
  </a>
  <a
    href='{{ .data.ctaNav.cta.link | absURL }}'
    class="{{ $aClasses }} bg-primary duration-200 ease-in-out focus:no-underline focus:shadow-lg font-medium hover:no-underline hover:shadow-lg lg:w-auto no-underline px-4 py-3 rounded-xl text-center text-base transition-shadow w-full white-link whitespace-nowrap"
  >
    {{ .data.ctaNav.cta.label }}
  </a>
</nav>