<div id="studies" class="grid items-center justify-center w-full">
  <ul class="auto-rows-min col-start-2 gap-4 grid justify-center m-0 md:gap-8 p-0 list-none row-start-2 w-full">
    {{ range .Pages.ByWeight.Reverse }}
      {{ $featured := gt .Params.weight 99 }}
      {{ $tagMargin := cond ($featured) "mb-6" "absolute left-8 m-0 top-8" }}
      {{ $heroMargin := cond ($featured) "mb-6 md:mb-0 md:mr-10" "mb-6" }}
      {{ $heroMax := cond ($featured) "max-w-3xl" "max-w-md mb-6" }}
      {{ $heroSize := cond ($featured) 700 500 }}
      {{ $headingMargin := cond ($featured) "mb-4 md:text-4xl" "mb-8 md:text-2xl" }}
      {{ $span := cond ($featured) "col-span-1 flex flex-col md:col-span-3 md:flex-row pb-4" "col-span-1 flex flex-col pb-7" }}

      <li
        class="bg-background {{ $span }} items-start justify-start m-0 pt-4 px-4 relative w-full"
        data-long="{{ $featured }}"
      >
        {{ partial "img.html" (dict "src" .Params.image "alt" .Title "id" "study-hero" "pClasses" (print "m-0 " $heroMargin) "iClasses" (print $heroMax " w-full") "size" $heroSize "hidden" true) }}
        <div class="flex flex-col h-auto items-start justify-start w-full">
          <p class="bg-background {{ $tagMargin }} flex items-center justify-center overflow-hidden rounded-full text-primary">
            <span class="bg-primary-transparent px-5 py-2">{{ .Params.tagLine }}</span>
          </p>
          {{ if eq $featured false }}
            <p class="mb-2 text-meta">{{ .Params.date.Format "02 January 2006" }}</p>
          {{ end }}
          <h2 class="font-normal max-w-lg mt-0 {{ $headingMargin }} p-0 text-xl w-full">{{ .Title }}</h2>
          {{ if $featured }}
            <p class="mb-5 md:m-0 text-meta">{{ .Params.subtitle }}</p>
            <p class="mb-0 mt-auto text-meta">{{ .Params.date.Format "02 January 2006" }}</p>
          {{ end }}
          <a href="{{ .Permalink }}" class="mb-1 mt-2 no-underline orange-link">Read More</a>
        </div>
      </li>
    {{ end }}
  </ul>
</div>