<div id="studies" class="grid items-center justify-center w-full">
  <ul class="auto-rows-min col-start-2 gap-4 grid justify-center m-0 md:gap-8 p-0 list-none row-start-2 w-full">
    {{ range .Pages.ByWeight.Reverse }}
      {{ $featured := gt .Params.weight 99 }}
      {{ $heroMargin := cond ($featured) "mb-6 md:mb-0 md:mr-10" "mb-6" }}
      {{ $heroMax := cond ($featured) "max-w-3xl" "max-w-md mb-6" }}
      {{ $heroSize := cond ($featured) 700 500 }}
      {{ $headingMargin := cond ($featured) "mb-4" "mb-8" }}
      {{ $span := cond ($featured) "col-span-1 flex flex-col md:col-span-3 md:flex-row pb-4" "col-span-1 flex flex-col pb-7" }}

      <li
        class="bg-background {{ $span }} items-start justify-start m-0 pt-4 px-4 w-full"
        data-long="{{ $featured }}"
      >
        {{ partial "img.html" (dict "src" .Params.image "alt" .Title "id" "study-hero" "pClasses" (print "m-0 " $heroMargin) "iClasses" (print $heroMax " w-full") "size" $heroSize "hidden" true) }}
        <div class="flex flex-col h-full items-start justify-start w-full">
          {{ partial "img.html" (dict "src" .Params.logo "alt" .Title "id" "study-logo" "pClasses" "h-auto mx-0 mb-4 w-auto" "iClasses" "w-auto" "size" 200 "hidden" true) }}
          <h2 class="max-w-lg mt-0 {{ $headingMargin }} md:text-4xl p-0 text-xl w-full">{{ .Params.subtitle }}</h2>
          {{ if $featured }}
            <p class="mb-5 md:m-0 text-meta">{{ .Params.description }}</p>
          {{ end }}
          <a href="{{ .Permalink }}" class="mb-1 mt-auto no-underline orange-link">Read More</a>
        </div>
      </li>
    {{ end }}
  </ul>
</div>
{{ $bg := resources.Get "/img/bg-wave-dark.svg" }}
<div
  id="testimonies"
  class="bg-footer bg-no-repeat grid items-center justify-center w-full"
  style='background-image: url("{{ $bg.Permalink }}"); background-size: var(--hero-bg-size); background-position: right center;'
>
  <div class="glide col-start-2 relative row-start-2 w-full">
    <div data-glide-el="track" class="glide__track max-w-5xl mx-auto w-full">
      <ul class="glide__slides flex items-center justify-start list-none m-0 p-0 w-full">
        {{ range .Params.testimonies }}
        <li class="glide__slide flex flex-col item-center justify-between m-0 md:flex-row max-w-5xl w-full">
          <div class="flex flex-col items-start justify-start max-w-xl md:pr-5 my-auto w-full">
            <div class="flex items-center justify-start mb-10 sm:mb-14 w-full">
              <div class="bg-primary flex h-10 items-center justify-center mr-4 rounded-full w-10">
                {{ partial "img.html" (dict "src" "quote.svg" "alt" "" "iClasses" "w-5" "size" 40 "hidden" true) }}
              </div>
              <p class="m-0 text-primary whitespace-nowrap">What Companies Say</p>
            </div>
            {{ partial "img.html" (dict "src" .logo "alt" .name "iClasses" "h-5 mb-4 object-left sm:h-6" "size" 132 "hidden" true) }}
            <p class="mb-8 sm:text-3xl text-background text-xl" style="line-height: 1.5;">
              {{ .copy | safeHTML }}
            </p>
            <div class="flex items-center justify-start w-full">
              {{ partial "img.html" (dict "src" .img "alt" .owner "pClasses" "sm:hidden max-w-card mr-4" "iClasses" "max-w-full" "size" 90 "hidden" true) }}
              <p class="m-0 text-background">
                {{ .owner }} <span class="opacity-50"> &bull; {{ .position }}</span>
              </p>
            </div>
          </div>
          {{ partial "img.html" (dict "src" .img "alt" .owner "pClasses" "hidden sm:flex max-w-md" "iClasses" "max-w-full" "size" 500 "hidden" true) }}
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="glide__arrows absolute bottom-0 hidden items-center justify-between md:flex top-0 w-full" data-glide-el="controls">
      <button
        class="glide__arrow glide__arrow--left bg-foreground border-0 border-transparent cursor-pointer duration-200 ease-in-out flex focus:bg-background hover:bg-background items-center justify-center outline-none rounded-full transition-colors"
        data-glide-dir="<"
      >
        <span class="sr-only">Go to previous slide</span>
        {{ partial "arrow-left.html" . }}
      </button>
      <button
        class="glide__arrow glide__arrow--right bg-foreground border-0 border-transparent cursor-pointer duration-200 ease-in-out flex focus:bg-background hover:bg-background items-center justify-center outline-none rounded-full transition-colors"
        data-glide-dir=">"
        >
        <span class="sr-only">Go to next slide</span>
        {{ partial "arrow-right.html" . }}
      </button>
    </div>

    <div class="glide__bullets flex items-center justify-start mt-16 md:justify-center md:mx-auto ml-auto mr-auto w-full" data-glide-el="controls[nav]">
      {{ range $i, $data := .Params.testimonies }}
        <button
          class="glide__bullet bg-background border-0 border-transparent cursor-pointer duration-200 ease-in-out focus:opacity-75 hover:opacity-75 md:mx-2 mr-3 opacity-50 outline-none p-1 rounded-full transition-opacity"
          data-glide-dir="={{ $i }}"
        >
          <span class="sr-only">Go to slide {{ add $i 1 }}</span>
        </button>
      {{ end }}
    </div>
  </div>
</div>