<div id="studies" class="grid items-center justify-center w-full">
  <ul class="auto-rows-min col-start-2 gap-4 grid justify-center m-0 md:gap-8 p-0 list-none row-start-2 w-full">
    {{ range .Params.studies }}
      {{ $heroMargin := cond (eq .long true) "mb-6 md:mb-0 md:mr-10" "mb-6" }}
      {{ $heroMax := cond (eq .long true) "max-w-3xl" "max-w-md mb-6" }}
      {{ $heroSize := cond (eq .long true) 700 500 }}
      {{ $headingMargin := cond (eq .long true) "mb-4" "mb-8" }}
      {{ $link := .label | urlize | absURL }}
      {{ $long := cond (eq .long true) "true" "false" }}
      {{ $span := cond (eq .long true) "col-span-1 flex flex-col md:col-span-3 md:flex-row pb-4" "col-span-1 flex flex-col pb-7" }}

      <li
        class="bg-background {{ $span }} items-start justify-start m-0 pt-4 px-4 w-full"
        data-long="{{ $long }}"
      >
        {{ partial "img.html" (dict "src" .hero "alt" .label "id" "study-hero" "pClasses" (print "m-0 " $heroMargin) "iClasses" (print $heroMax " w-full") "size" $heroSize "hidden" true) }}
        <div class="flex flex-col h-full items-start justify-start w-full">
          {{ partial "img.html" (dict "src" .logo "alt" .label "id" "study-logo" "pClasses" "h-auto mx-0 mb-4 w-auto" "iClasses" "w-auto" "size" 200 "hidden" true) }}
          <h2 class="max-w-lg mt-0 {{ $headingMargin }} md:text-4xl p-0 text-xl w-full">{{ .heading }}</h2>
          {{ if eq .long true }}
            <p class="mb-5 md:m-0 text-meta">{{ .copy }}</p>
          {{ end }}
          <a href="{{ $link }}" class="mb-1 mt-auto no-underline orange-link">Read More</a>
        </div>
      </li>
    {{ end }}
  </ul>
</div>