{{ define "hero" }}
  <div
    class="bg-no-repeat col-start-2 flex flex-col items-center justify-center max-w-main mx-auto overflow-visible row-start-2 w-full"
    {{ with .Params.backgroundAlt }}
      {{ $imgBg := resources.Get (print "/img/" .) }}
      style='background-image: url("{{ $imgBg.Permalink }}"); background-size: var(--hero-bg-size); background-position: right 70vh;'
    {{ end }}
  >
    <div class="flex flex-col items-center justify-start w-full">
      {{ with .Params.tagLine }}
        <p class="leading-relaxed m-0 text-center text-primary">{{ . }}</p>
      {{ end }}
      <h1
        class="font-normal max-w-4xl md:text-6xl mb-6 mt-0 mx-0 text-3xl leading-snug text-center w-full"
      >
        {{ .Title | safeHTML }}
      </h1>
      {{ with .Params.description }}
        <p class="leading-relaxed m-0 max-w-2xl text-center text-meta w-full">{{ . }}</p>
      {{ end }}
      {{ with .Params.cta }}
        <nav id="hero-nav" class="auto-rows-auto gap-3 grid items-center justify-center mt-12 w-full">
        {{ range . }}
          {{ $color := cond (.alt) "bg-primary-transparent orange-link" "bg-primary white-link" }}

          <a
            class="{{ $color }} duration-200 ease-in-out focus:no-underline focus:shadow-lg font-semibold hover:no-underline hover:shadow-lg leading-snug max-w-xs md:w-auto min-w-xxxxs no-underline px-9 py-4 rounded-xl text-center transition-shadow w-full whitespace-nowrap"
            href="{{ .link | absURL }}"
          >
            {{ .label }}
          </a>
        {{ end }}
        </nav>
      {{ end }}
    </div>
    {{ with .Params.image }}
      {{ partial "img.html" (dict "src" . "alt" "" "pClasses" "hidden md:flex w-auto" "iClasses" "max-w-4xl w-full" "size" 1300) }}
    {{ end }}
    {{ with .Params.imageMobile }}
      {{ partial "img.html" (dict "src" . "alt" "" "pClasses" "md:hidden w-auto" "iClasses" "max-w-xs w-full" "size" 768) }}
    {{ end }}
    {{ with .Params.clients }}
      <div class="flex flex-col items-center justify-start w-full">
        <p class="leading-relaxed mb-10 mt-0 mx-0 max-w-2xl text-center text-meta w-full">
          {{ .heading }}
        </p>
        <ul
          id="clients"
          class="gap-x-16 grid grid-cols-6-auto grid-rows-1 items-center justify-start list-none md:justify-center md:m-0 mr-auto my-0 p-0 w-full"
          style='--client-length: {{ len .companies }};'
        >
          {{ range .companies }}
          <li class="h-auto m-0 p-0 w-auto">
            {{ partial "img.html" (dict "src" .img "alt" .label "pClasses" "w-auto" "iClasses" "h-7 md:h-10 w-auto" "size" 240) }}
          </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>
{{ end }}
{{ define "main" }}
{{ end }}
